*{
    margin: 0%;
    padding: 0%;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 115px;
    height: 100px;
    margin-right:auto
}
.active{
    color: black;
    background-color:rgb(236, 210, 107);
    transition: 0.5s;
    border-radius: 10px;
    transform: scale(1.2);
}
li{
    display: inline;
    margin-right: 10px;
}
ul{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
button:hover{
    color: black;
    background-color:rgb(236, 210, 107);
    transition: 0.5s;
    border-radius: 10px;
    transform: scale(1.2);
}
button{
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
    transition: 0.5s;

}
.main{
    width: 100%;
    height: 85vh;
    background-image: url("https://i.pinimg.com/originals/66/28/16/66281661c6281fb7083d2d06f7bdcb5a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    width: 75%;
    height: 180px;
    background-color: black;
    position: relative;
    left: 180px;
    top: 30px;
}
.cateringhead{
    color: white;
    text-shadow: 3px 3px gray;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
hr{
    width: 405px;
    position: relative;
    left: 335px;
}
.cateringhead2{
    color: rgb(236, 210, 107);
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
.content2{
    width: 75%;
    height: 400px;
    background-color: black;
    position: relative;
    left: 180px;
    top: 55px;
}
.cateringhead3{
    color: rgb(236, 210, 107);
    text-shadow: 3PX 3PX rgb(93, 93, 93);
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
.contentpara{
    color: white;
    font-size: 25px;
    word-spacing: 15Px;
    padding: 25px;
    text-align: center;
}
.event{
    transition: 0.5s;
    border-radius: 10px;
    position: relative;
    left: 363px;
    width: 150px;
    height: 40px;
    background-color:rgb(236, 210, 107);
    color: black ;
    margin-left: 100px;
    border-radius: 20px;
}
.event:hover{
    color: black;
    background-color:rgb(236, 210, 107);
    transition: 0.5s;
    border-radius: 10px;
    transform: scale(1.2);
}
