*{
    margin: 0%;
    padding: 0%;
}
nav{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li{
    display: inline;
    margin-right: 50px;
    font-size: 25px;
}
h1{
    margin-right: auto;
    padding: 20px;
    color: white;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
a:hover
{
    color: black;
}
body{
    background-color: black;
}
