*
{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1439127989242-c3749a012eac?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHJlZCUyMGZvb2R8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    position: relative;
    box-shadow: 4px 8px 11px black;
}
.box::before{
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/236x/37/db/3d/37db3de3de37eb3c1fff34402253b483.jpg);
    position: absolute;
    z-index: -1; 
    transition: 1s;
    box-shadow: 4px 8px 11px black;
}
.box::after{
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url(https://wallpapers.com/images/hd/dark-blue-aesthetic-tumblr-raspberries-8975ai3xjrecc674.jpg);
    background-size: cover;
    position: absolute;
    z-index: -1;
    transition: 1s;
    box-shadow: 4px 8px 11px black;
}
.box:hover::after{
    transform: rotateZ(20deg);
    transition: 1s;
}
.box:hover::before{
    transform: rotateZ(40deg);
    transition: 1s;
}